<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dock.mapper.CarrierMapper">

    <insert id="addCarrier" parameterType="carrier">
        insert into carrier (CARRIER_NAME, CARRIER_LEADER, CARRIER_TEL, CARRIER_EMAIL,
                             CARRIER_ADDRESS, CREATE_TIME, UPDATE_TIME, IS_DELETE)
        VALUES
            (#{carrierName},#{carrierLeader},#{carrierTel},#{carrierEmail},
             #{carrierAddress},#{createTime},now(),#{isDelete})
    </insert>
    <update id="updateCarrier" parameterType="carrier">
        update carrier
        <set>
            <if test="carrierName!=null and carrierName!=''">carrier_name=#{carrierName},</if>
            <if test="carrierLeader!=null and carrierLeader!=''">CARRIER_LEADER=#{carrierLeader},</if>
            <if test="carrierTel!=null and carrierTel!=''">CARRIER_TEL=#{carrierTel},</if>
            <if test="carrierEmail!=null and carrierEmail!=''">CARRIER_EMAIL=#{carrierEmail},</if>
            <if test="carrierAddress!=null and carrierAddress!=''">CARRIER_ADDRESS=#{carrierAddress},</if>
            <if test="createTime!=null">CREATE_TIME=#{createTime},</if>
            <if test="isDelete!=null">IS_DELETE=#{isDelete},</if>
            update_time= now()
        </set>
           where carrier_id = #{carrierId}
    </update>
    <delete id="deleteCarrier">
        update carrier set IS_DELETE = 0 where CARRIER_ID in
        <foreach collection="list" item="c" close=")" open="(" separator=",">
            #{c}
        </foreach>
    </delete>
    <select id="getCarrierList" resultType="com.dock.entity.Carrier">
        select *from carrier
    </select>
</mapper>
