<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dock.mapper.CategoryMapper">
    <resultMap id="categoryMap" type="category">
        <id property="categoryId" column="category_id"/>
        <association property="subCategory" javaType="list" column="category_id" select="com.dock.mapper.CategoryMapper.getCategory"/>
    </resultMap>
    <insert id="addCategory" parameterType="category">
        insert into category (CATEGORY_NAME, LEVEL, PARENT_ID, CREATE_TIME, UPDATE_TIME, IS_DELETE)
        values(#{categoryName},#{level},#{parentId},#{createTime},now(),#{isDelete})
    </insert>
    <update id="updateCategory">
        UPDATE category
        <set>
            <if test="categoryName!=null and categoryName!=''">category_name=#{categoryName},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            update_time=NOW()
        </set>
        where category_id=#{categoryId}
    </update>
    <delete id="deleteCategory" parameterType="integer">
        update category set IS_DELETE=0 where CATEGORY_ID=#{categoryId}
    </delete>
    <select id="getCategory" resultMap="categoryMap" parameterType="integer">
        select * from category where PARENT_ID=#{categoryId}
    </select>
    <select id="getCategoryList" resultMap="categoryMap" >
        select * from category where PARENT_ID=0
    </select>
    <select id="getCategoryById" resultMap="categoryMap">
        select * from category where CATEGORY_ID=#{categoryId}
    </select>
</mapper>
